.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}
.header-left{
  float: left;
}

.header-right{
  float:right;
}
.top-wrapper{
  padding-top: 180px;
  text-align: center;
}
.middle-wrapper{
  text-align: center;
}
footer{
  text-align: center;
}
.line{
  display: inline-block;
  color:white;
  background-color: green;
  padding:8px 15px;
  border-radius: 4px;
}
.fab-line{
  margin-right: 5px;
}
