body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
@media(max-width:1000px){
  .item{
    width:50%;
  }
}
@media(max-width:670px){
  .item{
    width:100%;
  }
}
.logo{
  width:60%;
  height:60%;
}
.container {
  width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}
.header-left{
  float: left;
}
.header-left h2{
  color:white;
  padding-left: 20px;
}
.header-right{
  float:right;
  display: inline-block;
  line-height: 65px;
  margin-right:20px
}
.header-right a{
  line-height: 65px;
  color:white;
  margin-right: 5px;
}
.top-wrapper{
  padding-top: 180px;
  text-align: center;
}
.middle-wrapper{
  text-align: center;
}
footer{
  text-align: center;

}
.contact{
  display: inline-block;
  color:white;
  padding:8px 15px;
  border-radius: 4px;
  width:100px;
  margin-bottom: 10px;
}
.fab{
  margin-right: 5px;
}
.line{
  background-color: green;
  margin-right: 5px;
}
.twitter{
  background-color: #55acee;
}
.cont{
  font-weight: bold;
}
